.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Bricolage Grotesque;
}
.display-1 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 7.6rem;
  line-height: .85;
  letter-spacing: -0.0375rem;
}
.display-1 > .mbr-iconfont {
  font-size: 9.5rem;
}
.display-2 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 5.5rem;
  line-height: .9;
  letter-spacing: -0.0325rem;
}
.display-2 > .mbr-iconfont {
  font-size: 6.875rem;
}
.display-4 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5625rem;
}
.display-5 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 4.5rem;
  line-height: .9;
  letter-spacing: -0.0325rem;
}
.display-5 > .mbr-iconfont {
  font-size: 5.625rem;
}
.display-7 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.1875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6.08rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 5.32rem;
    font-size: calc( 3.3099999999999996rem + (7.6 - 3.3099999999999996) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.3099999999999996rem + (7.6 - 3.3099999999999996) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4.4rem;
    font-size: calc( 2.5749999999999997rem + (5.5 - 2.5749999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.5749999999999997rem + (5.5 - 2.5749999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.4rem;
    font-size: calc( 1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #addc39 !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #e1fa9d !important;
}
.bg-danger {
  background-color: #d74def !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffd84c !important;
  border-color: #ffd84c !important;
  color: #4c3b00 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ffe37f !important;
  border-color: #ffe37f !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #4c3b00 !important;
  background-color: #ffe37f !important;
  border-color: #ffe37f !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success,
.btn-success:active {
  background-color: #addc39 !important;
  border-color: #addc39 !important;
  color: #0e1303 !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #bfe464 !important;
  border-color: #bfe464 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #0e1303 !important;
  background-color: #bfe464 !important;
  border-color: #bfe464 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #e1fa9d !important;
  border-color: #e1fa9d !important;
  color: #6c9107 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #f0fcce !important;
  border-color: #f0fcce !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #6c9107 !important;
  background-color: #f0fcce !important;
  border-color: #f0fcce !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #d74def !important;
  border-color: #d74def !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #e27cf3 !important;
  border-color: #e27cf3 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e27cf3 !important;
  border-color: #e27cf3 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffd84c;
  color: #ffd84c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #f4bf00 !important;
  background-color: transparent !important;
  border-color: #f4bf00 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #4c3b00 !important;
  background-color: #ffd84c !important;
  border-color: #ffd84c !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #addc39;
  color: #addc39;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #7ba21d !important;
  background-color: transparent !important;
  border-color: #7ba21d !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #0e1303 !important;
  background-color: #addc39 !important;
  border-color: #addc39 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #e1fa9d;
  color: #e1fa9d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #c8f64b !important;
  background-color: transparent !important;
  border-color: #c8f64b !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #6c9107 !important;
  background-color: #e1fa9d !important;
  border-color: #e1fa9d !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #d74def;
  color: #d74def;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #b613d2 !important;
  background-color: transparent !important;
  border-color: #b613d2 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #d74def !important;
  border-color: #d74def !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #000000 !important;
}
.text-secondary {
  color: #ffd84c !important;
}
.text-success {
  color: #addc39 !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #e1fa9d !important;
}
.text-danger {
  color: #d74def !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #e5b300 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #71951a !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #c3f53c !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #aa12c4 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #000000;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #e1fa9d;
}
.alert-danger {
  background-color: #d74def;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #f5fbe6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Manrope', sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  font-weight: 400;
  border-radius: 100px !important;
}
.form-control > .mbr-iconfont {
  font-size: 2.1875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #000000 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Manrope', sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.1875rem;
}
blockquote {
  border-color: #000000;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #000000;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #000000 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffd84c !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23000000' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  padding: 15px 32px;
  border-radius: 10px !important;
  margin: 8px;
  border-width: 2px !important;
  flex-direction: row-reverse;
  font-weight: 600 !important;
}
.mbr-section-btn .btn .mbr-iconfont,
.mbr-section-btn-main .btn .mbr-iconfont {
  margin-left: 0;
  margin-right: .75rem;
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  transform: scale(1.03);
}
.mbr-section-btn .btn-info,
.mbr-section-btn-main .btn-info {
  color: #000000 !important;
}
img {
  border-radius: 16px !important;
}
.cid-ufNHjNAXFw {
  background-color: transparent;
}
.cid-ufNHjNAXFw .navbar-dropdown {
  background-color: #2b71e9 !important;
  padding: 0;
}
.cid-ufNHjNAXFw .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #2b71e9 !important;
  background: #2b71e9;
}
.cid-ufNHjNAXFw .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-ufNHjNAXFw .menu_box {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-ufNHjNAXFw .menu_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .cid-ufNHjNAXFw .menu_box .navbar.opened,
  .cid-ufNHjNAXFw .menu_box .navbar-collapse {
    background-color: #2b71e9 !important;
    transition: all 0s ease 0s;
  }
}
.cid-ufNHjNAXFw .navbar-dropdown {
  position: relative !important;
}
.cid-ufNHjNAXFw .icons-menu-main {
  display: flex;
  flex-wrap: wrap;
  min-width: 100px;
  margin-left: 24px;
}
@media (max-width: 991px) {
  .cid-ufNHjNAXFw .icons-menu-main {
    min-width: auto;
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-ufNHjNAXFw .mbr-section-btn-main {
    margin-top: 1rem;
  }
}
.cid-ufNHjNAXFw .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-ufNHjNAXFw .btn:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-ufNHjNAXFw .offcanvas {
    padding: 12rem 64px 0;
    width: 35%;
    background-color: #b0a0ff;
  }
  .cid-ufNHjNAXFw .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-ufNHjNAXFw .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-ufNHjNAXFw .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-ufNHjNAXFw .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-ufNHjNAXFw .offcanvas-body .mbr-text,
  .cid-ufNHjNAXFw .offcanvas-body .mbr-section-subtitle {
    margin-bottom: 32px;
  }
  .cid-ufNHjNAXFw .offcanvas-body .offcanvas_contact {
    margin: 0;
  }
  .cid-ufNHjNAXFw .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-ufNHjNAXFw .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #000000;
  }
  .cid-ufNHjNAXFw .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-ufNHjNAXFw .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-ufNHjNAXFw .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-ufNHjNAXFw .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-ufNHjNAXFw ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-ufNHjNAXFw .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-ufNHjNAXFw .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-ufNHjNAXFw .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-ufNHjNAXFw li.nav-item {
    position: relative;
    display: inline-block;
    padding: 0 !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
  }
  .cid-ufNHjNAXFw .lg_brand {
    margin: 0 1rem;
  }
  .cid-ufNHjNAXFw .navbar-nav.nav-dropdown {
    display: -webkit-flex;
    width: 60%;
    justify-content: flex-start;
    min-width: 200px;
    padding-left: 28px;
  }
}
.cid-ufNHjNAXFw .nav-item {
  margin: 4px 15px;
}
@media (min-width: 992px) {
  .cid-ufNHjNAXFw .nav-item {
    margin: 4px 0;
  }
}
@media (max-width: 991px) {
  .cid-ufNHjNAXFw .nav-item {
    margin: 0 !important;
  }
}
.cid-ufNHjNAXFw .nav-item .nav-link {
  transition: all 0.5s ease-out;
  border-radius: .5rem !important;
  position: relative;
}
.cid-ufNHjNAXFw .nav-item .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  width: 0;
  height: 1px;
  transition: all 0.3s ease-in-out;
}
.cid-ufNHjNAXFw .nav-item .nav-link:hover,
.cid-ufNHjNAXFw .nav-item .nav-link:focus {
  color: #ffffff !important;
}
.cid-ufNHjNAXFw .nav-item .nav-link:hover::before,
.cid-ufNHjNAXFw .nav-item .nav-link:focus::before {
  width: 100%;
}
.cid-ufNHjNAXFw .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-ufNHjNAXFw .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-ufNHjNAXFw .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-ufNHjNAXFw .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-ufNHjNAXFw .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-ufNHjNAXFw .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-ufNHjNAXFw .offcanvas_box {
    display: none;
  }
}
.cid-ufNHjNAXFw .dropdown-item {
  border: none;
  font-weight: 300 !important;
}
.cid-ufNHjNAXFw .nav-dropdown .link {
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-ufNHjNAXFw .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-ufNHjNAXFw .container {
  display: flex;
  margin: auto;
}
.cid-ufNHjNAXFw .iconfont-wrapper {
  color: #c6f15c;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-ufNHjNAXFw .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-ufNHjNAXFw .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-ufNHjNAXFw .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-ufNHjNAXFw .navbar-nav {
    margin: 0;
  }
}
.cid-ufNHjNAXFw .dropdown-menu,
.cid-ufNHjNAXFw .navbar.opened {
  background-color: false !important;
}
.cid-ufNHjNAXFw .nav-item:focus,
.cid-ufNHjNAXFw .nav-link:focus {
  outline: none;
}
.cid-ufNHjNAXFw .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ufNHjNAXFw .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ufNHjNAXFw .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ufNHjNAXFw .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ufNHjNAXFw .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ufNHjNAXFw .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ufNHjNAXFw .navbar {
  min-height: 70px;
  padding: 10px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-ufNHjNAXFw .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-ufNHjNAXFw .navbar.opened {
  transition: all 0.3s;
}
.cid-ufNHjNAXFw .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-ufNHjNAXFw .navbar .navbar-logo img {
  max-width: 32px;
  min-height: 32px;
  object-fit: contain;
  border-radius: 0 !important;
}
.cid-ufNHjNAXFw .navbar .navbar-collapse {
  justify-content: center;
  justify-content: space-between;
  z-index: 1;
}
.cid-ufNHjNAXFw .navbar.collapsed {
  justify-content: center;
}
.cid-ufNHjNAXFw .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ufNHjNAXFw .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-ufNHjNAXFw .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ufNHjNAXFw .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ufNHjNAXFw .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ufNHjNAXFw .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-ufNHjNAXFw .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-ufNHjNAXFw .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-ufNHjNAXFw .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 16px;
    width: 100%;
  }
  .cid-ufNHjNAXFw .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ufNHjNAXFw .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ufNHjNAXFw .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-ufNHjNAXFw .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ufNHjNAXFw .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-ufNHjNAXFw .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-ufNHjNAXFw .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-ufNHjNAXFw .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-ufNHjNAXFw .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-ufNHjNAXFw .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0;
    width: 100%;
    justify-content: space-between;
  }
  .cid-ufNHjNAXFw .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ufNHjNAXFw .navbar .icons-menu {
    padding: 0;
  }
}
.cid-ufNHjNAXFw .navbar.navbar-short {
  min-height: 60px;
}
.cid-ufNHjNAXFw .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-ufNHjNAXFw .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-ufNHjNAXFw .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-ufNHjNAXFw .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 700;
}
.cid-ufNHjNAXFw .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ufNHjNAXFw .dropdown-item.active,
.cid-ufNHjNAXFw .dropdown-item:active {
  background-color: transparent;
}
.cid-ufNHjNAXFw .navbar-expand-lg .navbar-nav .nav-link {
  margin: 8px 12px !important;
}
.cid-ufNHjNAXFw .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ufNHjNAXFw .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ufNHjNAXFw .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-ufNHjNAXFw ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-ufNHjNAXFw .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-ufNHjNAXFw button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #2b71e9;
  background: #c6f15c;
}
.cid-ufNHjNAXFw button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-ufNHjNAXFw button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-ufNHjNAXFw button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ufNHjNAXFw button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ufNHjNAXFw button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-ufNHjNAXFw nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ufNHjNAXFw nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-ufNHjNAXFw nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-ufNHjNAXFw nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ufNHjNAXFw a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-ufNHjNAXFw .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ufNHjNAXFw .navbar {
    height: 70px;
  }
  .cid-ufNHjNAXFw .navbar.opened {
    height: auto;
  }
  .cid-ufNHjNAXFw .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ufNHjNAXFw .navbar-dropdown .navbar-logo {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .cid-ufNHjNAXFw .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.cid-ufNHjNAXFw .mbr-section-btn-main {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .cid-ufNHjNAXFw .mbr-section-btn-main {
    display: block;
    padding: 0;
  }
}
.cid-ufNHjNAXFw .mbr-section-btn-main .btn {
  margin: 8px;
  min-width: 120px;
  padding: 12px 24px;
  white-space: nowrap;
}
@media (max-width: 992px) {
  .cid-ufNHjNAXFw .mbr-section-btn-main .btn {
    padding: 12px;
  }
}
.cid-ufNHjNAXFw .navbar-caption:hover {
  color: #ffffff;
}
@media (min-width: 992px) {
  .cid-ufNHjNAXFw .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-ufNHjNAXFw .text_widget {
  margin-bottom: 32px;
}
.cid-ufNHjNAXFw .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-ufNHjNAXFw .text_widget a:hover,
.cid-ufNHjNAXFw .text_widget a:focus {
  opacity: .8;
}
.cid-ufNHjNAXFw .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-ufNHjNAXFw .navbar-caption {
  color: #ffffff;
}
.cid-ufNHjNAXFw .mbr-text {
  color: #000000;
  text-align: center;
}
.cid-ufNHjNAXFw .mbr-section-subtitle,
.cid-ufNHjNAXFw .text_widget,
.cid-ufNHjNAXFw .mbr-section-btn {
  text-align: center;
}
.cid-ufNHjNAXFw a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-ufNxpCfqph {
  background-color: #2b71e9;
}
.cid-ufNxpCfqph .mbr-fallback-image.disabled {
  display: none;
}
.cid-ufNxpCfqph .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ufNxpCfqph .container-fluid {
  padding: 0 50px;
}
@media (max-width: 992px) {
  .cid-ufNxpCfqph .container-fluid {
    padding: 0 16px;
  }
}
@media (max-width: 992px) {
  .cid-ufNxpCfqph .container {
    padding: 0 16px;
  }
}
.cid-ufNxpCfqph .card {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-ufNxpCfqph .content-wrapper {
    margin-bottom: 32px;
  }
}
.cid-ufNxpCfqph .content-wrapper .mbr-section-title {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-ufNxpCfqph .content-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-ufNxpCfqph .content-wrapper .text-wrapper .mbr-text {
  display: inline-flex;
  width: 60%;
  margin-bottom: 32px;
}
@media (max-width: 1200px) {
  .cid-ufNxpCfqph .content-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-ufNxpCfqph .image-wrapper {
  margin-left: 32px;
  margin-left: 0;
  margin-right: 32px;
}
@media (max-width: 992px) {
  .cid-ufNxpCfqph .image-wrapper {
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  .cid-ufNxpCfqph .image-wrapper {
    margin-right: 0;
  }
}
.cid-ufNxpCfqph .image-wrapper img {
  height: 660px;
  object-fit: cover;
  box-shadow: 6px 8px 0 0 #000000;
  border-radius: 24px !important;
}
@media (max-width: 992px) {
  .cid-ufNxpCfqph .image-wrapper img {
    height: 350px;
  }
}
.cid-ufNxpCfqph .mbr-section-title {
  color: #ffffff;
}
.cid-ufNxpCfqph .mbr-text {
  color: #ffffff;
}
.cid-ufNxpCfqph .mbr-section-title,
.cid-ufNxpCfqph .mbr-section-btn {
  text-align: center;
}
.cid-ufNxpCfqph .mbr-text,
.cid-ufNxpCfqph .text-wrapper {
  text-align: center;
}
.cid-uG6fdnqa7y {
  position: relative;
  overflow: hidden;
  background-color: #addc39;
}
.cid-uG6fdnqa7y .main-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 49.5%;
  height: 100%;
  border-radius: 0 !important;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uG6fdnqa7y .main-image {
    display: none;
  }
}
.cid-uG6fdnqa7y .mbr-fallback-image.disabled {
  display: none;
}
.cid-uG6fdnqa7y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uG6fdnqa7y .container-fluid {
  padding: 0 50px;
}
@media (max-width: 992px) {
  .cid-uG6fdnqa7y .container-fluid {
    padding: 0 16px;
  }
}
@media (max-width: 992px) {
  .cid-uG6fdnqa7y .container {
    padding: 0 16px;
  }
}
.cid-uG6fdnqa7y .row {
  position: relative;
  z-index: 1;
}
.cid-uG6fdnqa7y .card {
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .cid-uG6fdnqa7y .content-wrapper {
    margin-bottom: 32px;
  }
}
.cid-uG6fdnqa7y .content-wrapper .mbr-section-title {
  margin-bottom: 56px;
}
@media (max-width: 992px) {
  .cid-uG6fdnqa7y .content-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-uG6fdnqa7y .content-wrapper .text-wrapper .mbr-text {
  display: inline-flex;
  width: 85%;
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .cid-uG6fdnqa7y .content-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-uG6fdnqa7y .card-wrapper {
  padding: 64px 40px 40px;
  border-radius: 16px !important;
  background-color: #2b71e9;
  margin-left: 32px;
  -webkit-flex: none;
}
@media (max-width: 992px) {
  .cid-uG6fdnqa7y .card-wrapper {
    margin-left: 0;
    margin-bottom: 32px;
    padding: 64px 24px 24px;
    margin-top: 32px;
  }
}
.cid-uG6fdnqa7y .card-wrapper .title-wrap {
  margin-top: -6rem;
}
.cid-uG6fdnqa7y .card-wrapper .title-wrap .card-title {
  display: inline-flex;
  padding: 12px 24px;
  background-color: #addc39;
  border-radius: .5rem;
  box-shadow: 4px 6px 0 0 #000000;
  margin-bottom: 40px;
}
.cid-uG6fdnqa7y .card-wrapper .card-text {
  margin-bottom: 0;
}
.cid-uG6fdnqa7y .card-wrapper .person-wrap {
  margin-top: 20px;
}
.cid-uG6fdnqa7y .card-wrapper .person-wrap .card-name {
  margin-bottom: 0;
}
.cid-uG6fdnqa7y .card-wrapper .person-wrap .card-role {
  margin-bottom: 0;
}
.cid-uG6fdnqa7y .mbr-section-title {
  color: #000000;
}
.cid-uG6fdnqa7y .mbr-text {
  color: #000000;
}
.cid-uG6fdnqa7y .card-title {
  color: #000000;
}
.cid-uG6fdnqa7y .card-text {
  color: #ffffff;
}
.cid-uG6fdnqa7y .card-name {
  color: #ffffff;
}
.cid-uG6fdnqa7y .card-role {
  color: #ffffff;
}
.cid-uIuCf31Vh5 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #4285f8;
}
.cid-uIuCf31Vh5 img,
.cid-uIuCf31Vh5 .item-img {
  width: 100%;
}
.cid-uIuCf31Vh5 .item:focus,
.cid-uIuCf31Vh5 span:focus {
  outline: none;
}
.cid-uIuCf31Vh5 .item-wrapper {
  position: relative;
}
.cid-uIuCf31Vh5 .slide-content {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-uIuCf31Vh5 .slide-content .item-content {
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uIuCf31Vh5 .slide-content .item-content {
    padding: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uIuCf31Vh5 .slide-content .item-content {
    padding: 1.5rem;
  }
}
.cid-uIuCf31Vh5 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-uIuCf31Vh5 .mbr-section-title {
  color: #232323;
}
.cid-uIuCf31Vh5 .mbr-text,
.cid-uIuCf31Vh5 .mbr-section-btn {
  text-align: left;
}
.cid-uIuCf31Vh5 .item-title {
  text-align: left;
}
.cid-uIuCf31Vh5 .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-uIuCf31Vh5 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 370px;
  max-width: 370px;
}
@media (max-width: 768px) {
  .cid-uIuCf31Vh5 .embla__slide {
    min-width: 85%;
    max-width: initial;
  }
}
.cid-uIuCf31Vh5 .embla__button--next,
.cid-uIuCf31Vh5 .embla__button--prev {
  display: flex;
}
.cid-uIuCf31Vh5 .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-uIuCf31Vh5 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-uIuCf31Vh5 .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-uIuCf31Vh5 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uIuCf31Vh5 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-uIuCf31Vh5 .embla__button {
    top: auto;
  }
}
.cid-uIuCf31Vh5 .embla {
  position: relative;
  width: 100%;
}
.cid-uIuCf31Vh5 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-uIuCf31Vh5 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-uIuCf31Vh5 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-uIuCf31Vh5 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .cid-uIuCf31Vh5 .embla__container .embla__slide:first-child {
    margin-left: 2rem !important;
  }
  .cid-uIuCf31Vh5 .embla__container .embla__slide:last-child {
    margin-right: 2rem !important;
  }
}
.cid-uIuCf31Vh5 .content-head {
  max-width: 800px;
}
.cid-ufXI5bcPYx {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-ufXI5bcPYx .mbr-fallback-image.disabled {
  display: none;
}
.cid-ufXI5bcPYx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-ufXI5bcPYx .container {
    padding: 0 16px;
  }
}
.cid-ufXI5bcPYx .row {
  margin: 0 -28px;
  position: relative;
  z-index: 1;
  justify-content: center;
}
.cid-ufXI5bcPYx .title-wrapper .mbr-section-title {
  margin-bottom: 96px;
}
@media (max-width: 992px) {
  .cid-ufXI5bcPYx .title-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-ufXI5bcPYx .item {
  padding: 0 28px;
  margin-bottom: 32px;
}
.cid-ufXI5bcPYx .item:hover .item-wrapper .item-content .mbr-section-btn .btn .mbr-iconfont,
.cid-ufXI5bcPYx .item:focus .item-wrapper .item-content .mbr-section-btn .btn .mbr-iconfont {
  transform: translateX(8px);
}
.cid-ufXI5bcPYx .item .item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.cid-ufXI5bcPYx .item .item-wrapper .item-img img {
  height: 280px;
  object-fit: cover;
  margin-bottom: 26px;
}
.cid-ufXI5bcPYx .item .item-wrapper .item-img .item-text {
  margin-bottom: 12px;
}
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-primary-outline,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-secondary-outline,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-success-outline,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-info-outline,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-warning-outline,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-danger-outline,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-black-outline,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-white-outline {
  padding: 0;
  border: none !important;
  flex-direction: row;
}
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-primary-outline .mbr-iconfont,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-secondary-outline .mbr-iconfont,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-success-outline .mbr-iconfont,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-info-outline .mbr-iconfont,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-warning-outline .mbr-iconfont,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-danger-outline .mbr-iconfont,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-black-outline .mbr-iconfont,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-white-outline .mbr-iconfont {
  margin-left: 8px;
  margin-right: 0;
  transition: all 0.3s ease-in-out;
}
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-primary-outline:hover,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-secondary-outline:hover,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-success-outline:hover,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-info-outline:hover,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-warning-outline:hover,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-danger-outline:hover,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-black-outline:hover,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-white-outline:hover,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-primary-outline:focus,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-secondary-outline:focus,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-success-outline:focus,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-info-outline:focus,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-warning-outline:focus,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-danger-outline:focus,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-black-outline:focus,
.cid-ufXI5bcPYx .item .item-wrapper .item-content .mbr-section-btn .btn-white-outline:focus {
  transform: scale(1);
}
.cid-ufXI5bcPYx .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-ufXI5bcPYx .item-text {
  color: #000000;
}
.cid-uCC1Jwbx2B {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f0f0f0;
}
.cid-uCC1Jwbx2B .mbr-fallback-image.disabled {
  display: none;
}
.cid-uCC1Jwbx2B .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uCC1Jwbx2B .container-fluid {
  padding: 0 64px;
}
@media (max-width: 1440px) {
  .cid-uCC1Jwbx2B .container-fluid {
    padding: 0 36px;
  }
}
@media (max-width: 992px) {
  .cid-uCC1Jwbx2B .container-fluid {
    padding: 0 16px;
  }
}
@media (max-width: 992px) {
  .cid-uCC1Jwbx2B .container {
    padding: 0 16px;
  }
}
.cid-uCC1Jwbx2B .row {
  justify-content: center;
  margin: 0 -42px;
}
.cid-uCC1Jwbx2B .row .item {
  padding: 0 42px;
}
.cid-uCC1Jwbx2B .item {
  margin-bottom: 36px;
}
.cid-uCC1Jwbx2B .item .item-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-uCC1Jwbx2B .item .item-wrapper .item-img {
  width: 100%;
}
.cid-uCC1Jwbx2B .item .item-wrapper .item-img img {
  height: 500px;
  object-fit: cover;
  box-shadow: 0 7px 20px #333333;
  border-radius: .5em !important;
}
@media (max-width: 992px) {
  .cid-uCC1Jwbx2B .item .item-wrapper .item-img img {
    height: 350px;
  }
}
.cid-uCC1Jwbx2B .item:nth-child(2n) .item-wrapper .item-img img {
  height: 280px;
}
.cid-uCC1Jwbx2B .item:nth-child(3n) .item-wrapper .item-img img {
  height: 280px;
  margin-top: -10rem;
}
@media (max-width: 992px) {
  .cid-uCC1Jwbx2B .item:nth-child(3n) .item-wrapper .item-img img {
    margin-top: 0;
  }
}
.cid-uhcGi8dOsa {
  background-color: #2b71e9;
}
.cid-uhcGi8dOsa .justify-content-center {
  align-items: center;
}
.cid-uhcGi8dOsa .mbr-section-title {
  text-align: center;
}
.cid-uhcGi8dOsa .mbr-text,
.cid-uhcGi8dOsa .mbr-section-btn {
  text-align: center;
}
@media (max-width: 767px) {
  .cid-uhcGi8dOsa .item-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uhcGi8dOsa .item-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-uhcGi8dOsa .item-wrapper {
    padding: 4rem;
  }
}
